/*Style sheet for odin recipe assignment pages*/

/*Link decoration removable*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body, html{
        height: 100%;
        margin: 0%;
        padding: 0%;
}

/*Background image setup*/

body {
       font-family: Arial, Helvetica, sans-serif;
       background-image: url("../img/recipebg.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
       width: 100%;
       height: auto;
       position: relative;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
       
}

/*Header alignment font css*/

.header {
     text-align: center;
     background: hsl(17, 100%, 74%, .7);
     color: hsl(0, 0%, 100%);
     font-size: 58px;
     margin-top: 40px;
     margin-bottom: 40px;
     width: 100%;
}

.container {
        margin: 5px;
        margin-bottom: 40px;
        background-color: hsl(0, 0%, 100%, .5); 
        width: 100%;  
       
}

.container>.imgalign {
    float: right;
    height: 300px;
    width: 300px;
    margin: 1rem;

}

.imgalign>img {
    flex-shrink: inherit;
}


img:hover {
    cursor: pointer;
    opacity: .8;
    transition: opacity .25 ease-in-out;
}

.container p {
    padding-left: 20px;
    padding-right: 20px;
}

h3{
    text-decoration: underline;
    padding: 15px;
    font-size: 28px;
}

footer {
    padding: 40px;
    background-color: hsl(17, 100%, 74%, .7);
    width: 100%;
    
}

.recipetip {
    padding-bottom: 50px;
}



.list {
    padding-left: 20px;
    padding-right: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}

.column {
    text-align: center;
    margin: 10px;
    flex: 30;
}

.column>img {
    flex-shrink: inherit;
}

.textalign {
    position: relative;
}

li {
   font-size: 18px;
   margin-bottom: 5px;
}

ol, ul {
    padding-left: 20px;
}

.rcptiphd {
    text-align: center;
}

@media (max-width:500px) {
   body .container {
        margin: 5px;
        margin-bottom: 40px;
        background-color: hsl(0, 0%, 100%, .5); 
        width: 100%;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

}










